label {
    display: block;
    width: 200px;
    float: left;
    border-top: 10%;
}

.container {
    margin-top: 70px;
}

footer {
    background: #ccc;
    position: absolute;
    bottom: 55px;
    ;
    width: 100%;
    padding-top: 70px;
    height: 50px;
}

table {
    margin-top: 30px;
}

.Bienvenu {
    margin-left: 0px;
    position: center;
    margin: auto;
}